

/* ----- Responsive ----- */
@media (max-width: 768px) {

    .nav-mobile-menu {
    position: static; /* Ocupa lugar, desplaza al main */
    z-index: auto;
  }
    main {
    margin-top: 0; /* Ya no necesitas espacio extra */
  }

  .nav-left,
  .nav-right {
    display: none;
  }

  .hamburger {
    display: block;
  }

  .logo-container {
    position: relative;
    left: 0;
    transform: none;
    margin: auto;
  }

  .menu-toggle:checked ~ .nav-mobile-menu {
    display: flex;
  }

  .carrito {
    position: absolute;
    top: 1rem;
    left: 1rem;
  }
  
}
